* {
    margin: 0px;
    color: white
}

:root {
    --left-margin: 50px;
    --background-color: black;
}

.neon {
    color: #fff;
    text-shadow:
      0 0 40px #0ff,
      0 0 80px #0ff;

}

.primary {
    position: relative;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.562);
    padding: 50px 0px ;
    font-size: 3rem;
    font-weight: 900;
    color: rgb(250, 100, 100);
}

.credit {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

body > .secondary{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}

.italics {
    font-style: italic;
}

.backdrop {
    background-image: url("compact-backdrop2.png");

    width: 50vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 30px 20px 30px var(--left-margin);
    padding-bottom: 100px;
}

div.account {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 0.35fr));
    grid-column-gap: 70px;
    padding: 0px var(--left-margin);
    border: 1px solid rgba(0, 255, 255, 0.205);
}

@media screen and (max-width: 1124px) {
    div.account {
        display: grid;
        grid-template-columns: repeat(1, minmax(200px, 0.35fr));
        grid-column-gap: 70px;
        padding: 0px var(--left-margin);
        border: 1px solid rgba(0, 255, 255, 0.205);
    }
}

div.account > label {
    display: inline-flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
    width: 100%;
}

div.account > label > span {
    font-size: 0.8rem;
}

input {
    margin-top: 5px;
    border-radius: 3px;
    height: 25px;
    border: 1px solid rgba(0, 255, 255, 0.644);
    background-color: var(--background-color);
}

button {
    margin:20px 20px 20px var(--left-margin);
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    background-color: darkcyan;
    border: 0px;
    box-shadow: 
        0 0 40px #0ff;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: rgba(0, 139, 139, 0.336);
}

input:focus {
    background-color: rgba(0, 139, 139, 0.336);
    outline: none;
}

/*credit: https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

#footer {
    margin-left: var(--left-margin);
}
